@import 'Main';
@import 'DataList';

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  h1 {
    text-align: center;
  }
}

.Page {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: #fff;
  overflow: hidden;
}


