header {
  background: #fffcc8;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  .logo {
    width: 30px;
    height: 30px;
    //background: #c77fb3;
    img {
      width: 100%;
    }
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      min-width: 50px;
      line-height: 30px;
    }
  }
}

.Error-page {
  text-align: center;
  h1 {
    color: #ff977c;
  }
  p {
    a {
      color: #ff977c;
      text-transform: uppercase;
    }
  }
}

/* Menu decorate */

.Slide-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 250px;
  top: 0;
  left: -250px;
  z-index: 20;
  background-color: #424a57;
  transition: .3s all ease-in-out;
  &.is-active {
    left: 0px;
    .Menu-btn {
      left: 250px;
      .Menu-btn__inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        &:before {
          top: 0;
          opacity: 0;
          transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        }
        &:after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
  & ul {
    padding: 0;
    list-style: none;
    color: #fff;
    li {
      padding: 0 30px;
      min-height: 40px;
      line-height: 40px;
      transition: .3s all ease-in-out;
      &:hover {
        background-color: #32393f;
      }
    }
    a {
      display: block;
      height: auto;
      width: 100%;
      color: #fff;
      text-decoration: none;
    }
  }
}

/* Button style */

.Menu-btn {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font-size: 0;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  margin: 0;
  overflow: visible;

  outline: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 250px;
  line-height: 40px;
  text-align: center;
  border: none;
  &__inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &:before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }
    &:after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}


.Menu-btn__block {
  width: 36px;
  height: 25px;
  display: inline-block;
  position: relative;
}

.Menu-btn__inner {
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.Menu-btn__inner, .Menu-btn__inner::before, .Menu-btn__inner::after {
  width: 36px;
  height: 3px;
  background-color: #424a57;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.Menu-btn__inner::before, .Menu-btn__inner::after {
  content: "";
  display: block;
}
.Menu-btn__inner::before {
  top: -11px;
}
.Menu-btn__inner::after {
  bottom: -11px;
}

// Page animation

.fade-enter,
.fade-appear {
  opacity: 0;
  left: 100px;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 600ms linear;
}


.fade-enter.fade-enter-active {
  left: 0;
  opacity: 1;
  transition: all 600ms linear ;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  left: 100px;
  opacity: 0;
  transition: all 200ms linear;
}
/*
.fade-appear,
.fade-enter {
  left: 100px;
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active{
  opacity: 1;
  left: 0;
  transition: all 600ms linear 300ms;
}

.fade-exit {
  left: 0;
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  left: 100px;
  transition: all linear 300ms;
}
*/
